---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="UR Monitor">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-6">UR Monitor</h1>
    <p class="text-lg mb-4">Welcome to UR Monitor Dashboard</p>
  </main>
</Layout>
